# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.*

# Django local files
db.sqlite3
media/
staticfiles/

# Git files
.git
.gitignore

# IDE/editor folders
.vscode/
.idea/

# Docker files
Dockerfile
docker-compose.yml

# Node modules (if using frontend)
node_modules/

# OS files
.DS_Store

# Logs
*.log
